.Button {
  
  &-JR {
    background: #4d2f79;
    color: $headerWhite;
  }
  &-SSC {
    background: cornflowerblue;
    color: $headerWhite;
  }
  &-Bookmarker {
    background: #76ca6b;
    color: black;
  }
  &-Counter {
    background: #348290;
    color: $headerWhite;
  }
  &-Filterable {
    background: #6766af;
  }
  &-GitHub {
    background: coral;
    color: black;
  }
  &-Gallery {
    background: #a82f6c;
    color: $headerWhite;
  }
  &-Slider {
    background: #2b464e;
    color: $headerWhite;
  }
  &-Modal {
    background: orangered;
    color: $headerWhite;
    &-Close {
      background: orangered;
      color: $headerWhite;
      grid-row: 3;
      grid-column: 3;
      justify-self: center;
    }
  }
  &-VisibilityToggle {
    background: #74602b;
    color: $headerWhite;
  }
}