.Footer {
  background: $footerCoralDark;
  color: $headerWhite;
  grid-column: 3;
  grid-row: 3;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 10rem) 7.4rem;
  &-Signature {
    grid-row: 6;
  }
}