.Footer {
  background: $footerCoralDark;
  color: $headerWhite;
  grid-column: 3;
  grid-row: 3 / -1;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 11.45rem);
  box-shadow: 3.5px 0 black;
  &-Signature {
    grid-row: 5;
    align-self: center;
  }
}