.Header {
  grid-column: 3;
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(5, 4rem);
  // grid-gap: 1rem;
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0;
  &-Link {
    &-Home {
      grid-row: 1;
      &-Active {
        background: $homeGreenDark;
      }
    }
    &-Skills {
      grid-row: 2;
      &-Active {
        background: $skillsDarkBlue;
      }
    }
    &-About {
      grid-row: 3;
      &-Active {
        background: $aboutPurpleDark;
      }
    }
    &-Portfolio {
      grid-row: 4;
      &-Active {
        background: $darkRed;
      }
    }
    &-Contact {
      grid-row: 5;
      &-Active {
        background: $darkGrey;
      }
    }
  }
}