// Styling for my RotatingCard. This will >ONLY< be shown on the main page.
.RotatingCard {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  grid-column: 3;
  grid-row: 1;
  width: 100%;
  box-shadow: 3.5px 0 black;
  @include respond(tabLand) {
    height: 100%;
  }
  &-Side {
    background: $rotatingCardPinkDark;
    font-size: 2rem;
    padding: 2rem 1rem 0 1rem;
    color: white;
    height: 100%;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden; 
  }
  &-Side-Front {
    height: 100%;
    width: 100%;
  }
  &-Side-Back {
    transform: rotateY(180deg);
    width: 101%;
    &-1 {
      background: $rotatingCardPinkBackDark;
    }
  }
  &:hover &-Side-Front {
    transition: all .8s ease;
    transform: rotateY(-180deg);
  }
  &:hover &-Side-Back {
    transform: rotateY(0);
  }
}