@keyframes travelTheWorld {
  0% {
    left: 0;
  }

  25% {
    left: 25%;
    transform: scale(0.25);
  }

  50% {
    left: 50%;
    transform: scale(0.50);
  }

  75% {
    left: 75%;
    transform: scale(0.75);
  }

  100% {
    left: 100%;
    transform: scale(1);
  }
}

@keyframes headerSlide {
  from {}

  to {
    transform: translateX(0);
  }
}