@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700');

a {
  text-decoration: none;
  color: $headerWhite;
}

h1 {
  @include respond(phone) {
    padding: 2rem 0;
    font-size: $baseHeading;
  }
}