// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

a {
  color: $headerWhite;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 2px solid $headerWhite;
  padding: 1.5rem 1rem;
  background: linear-gradient(to bottom right, #3D72A4, #4d3da4);
  color: $headerWhite;
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  &:hover {
    animation: shadow-pulse infinite 1s;
  }
}
