// Fonts - General
$base: 1.75rem;
$medium: 1.9rem;
$large: 2.3rem;
// Fonts - Links
$baseLink: 1.8rem;
// Fonts - Headings

// Colors
$moonGrey: #aeb4af;
$headerWhite: #e2e1e1;
$primaryGrey: #222;

// Star Shadows
$bxshadow-large: box-shadow(300);
$bxshadow-medium: box-shadow(500);
$bxshadow-small: box-shadow(800);