// Fonts
$base: 1.75rem;
$smallBase: 1.85rem;
$mediumBase: 1.95rem;
$largeBase: 2.1rem;
// Fonts - Headings
$baseHeading: 2.3rem;
$smallHeading: 1.9rem;
$mediumHeading: 2rem;
$bigHeading: 2.5rem;
$largeHeading: 3rem;

// Colors
$headerWhite: #e2e1e1;
$textBlack: #130f0f;
$primaryColor: #222;
$secondaryColor: #920e0e;