.about__page {
  max-height: 100vh;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: url(../images/arcade.jpg) no-repeat center center / cover;
  &-one {
    font-size: $baseLarge;
    // align-self: center;
    h1 {
      padding: 10rem 0 0 0;
      text-align: center;
      font-size: $largeHeading;
    }
    p {
      padding: 3rem 6rem 0 6rem;
    }
  }
}