.home {
  height: 300vh;
  width: 100%;
  grid-row: 1;
  grid-column: 2;
  font-size: $baseLarge;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background: url(../images/vertical.jpg) no-repeat center center / cover;
  h1 {
    text-align: center;
  }
  p {
    padding: 3rem 6rem;
  }
  &__gif {
    grid-column: 1;
    grid-row: 1;
    margin: 0 0 5rem 0;
  }
  &__one {
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    @include homePage;
  }
  &__about {
    font-size: $baseLarge;
    grid-column: 2;
    grid-row: 2;
    @include homePage;
    &-gif {
      float: right;
    }
    h1 {
      text-align: center;
    }
    p {
      padding: 2rem 6rem;
    }
  }
  &__work {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    @include homePage;
    h1 {
      text-align: center;
    }
  }
}