.home {
  height: auto;
  display: grid;
  grid-template-columns: 7.5vw 85vw 7.5vw;
  grid-template-rows: 150vh auto 50vh auto;
  width: 100vw;
  background: url(../images/mtfuji.jpg) no-repeat center center / cover;

  &-card {
    grid-column: 2;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &-svg {
    position: absolute;
    grid-column: 1;
    grid-row: 1;
    margin: 5rem 0 0 10rem;
    left: 0;
    top: 0;
    width: 10rem;
    height: 10rem;
    align-self: center;
    justify-self: center;

    &__actual {
      width: 5rem;
      height: 5rem;
    }
  }

  &-sky {
    position: relative;
    width: 100%;
    height: 100%;
    background: #4B79A1;
    background: linear-gradient(to top, #283E51, #0A2342);
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    &__stars {
      width: 100%;
      height: 100%;
      background: url(../images/stars.png);
    }
  }

  &-circle__one {
    fill: #f5f3ce;
  }
}

.circle {
  fill: $moonGrey;
}