.portfolio {
  background: $baseWhite;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
  justify-self: center;
  @include respond(phone) {
    height: auto;
    width: 100vw;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, 1fr);
  }
  div {
    padding: 2px;
    @include respond(phone) {
      width: 100%;
      padding: 5px 1rem;
    }
  }
  img { 
    width: 100%;
    height: auto;
  }
  &__ssc {
    grid-column: 1;
    grid-row: 1;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 1;
    }
  }
  &__calories {
    grid-column: 2;
    grid-row: 1;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 2;
    }
  }
  &__hoard {
    grid-column: 3;
    grid-row: 1;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 3;
    }
  }
  &__table {
    grid-column: 4;
    grid-row: 1;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 4;
    }
  }
  &__pixabay {
    grid-column: 5;
    grid-row: 1;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 5;
    }
  }
  &__lyrics {
    grid-column: 1;
    grid-row: 2;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 6;
    }
  }
  &__todo {
    grid-column: 2;
    grid-row: 2;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 7;
    }
  }
  &__shellgame {
    grid-column: 3;
    grid-row: 2;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 8;
    }
  }
  &__ghibli {
    grid-column: 4;
    grid-row: 2;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 9;
    }
  }
  &__soundboard {
    grid-column: 5;
    grid-row: 2;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 10;
    }
  }
  &__numbers {
    grid-column: 1;
    grid-row: 3;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 11;
    }
  }
  &__chuck {
    grid-column: 2;
    grid-row: 3;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 12;
    }
  }
  &__jstodo {
    grid-column: 3;
    grid-row: 3;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 13;
    }
  }
  &__mysidia {
    grid-column: 4;
    grid-row: 3;
    @include respond(phone) {
      grid-column: 1;
      grid-row: 14;
    }
  }
}