$footerCoral: #df6219;
$footerCoralDark: darken($footerCoral, 15%);

$primaryColor: #005858;
$primaryColorDark: darken($primaryColor, 5%);

$headerWhite: #e2e1e1;
$black: #1b1818;

$darkBorder: .2rem solid $black;