.footer {
  font-size: 1.6rem;
  grid-column: 1 / -1;
  grid-row: 2;
  z-index: 2;
  background: $primaryColor;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  @include respond(phone) {
    font-size: 1.6rem;
  }
  [aria-current="page"]:after {
    content: "";
  }
  div {
    justify-self: center;
    grid-row: 1;
  }
  ul {
    list-style: none;
    @include respond(phone) {
      padding: 5px 1.2rem 5px 0;
      font-size: 1.6rem;
    }
  }
  &-primary {
    padding: 1rem 0;
    grid-column: 2;
    align-self: end;
    @include respond(phone) {
      align-self: center;
    }
  }
  &-far__left {
    grid-column: 1;
    align-self: center;

  }
  &-far__right {
    grid-column: 3;
    align-self: center;
  }
}