.header {
  grid-column: 1;
  grid-row: 1;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  a {
    text-decoration: none;
    color: $headerWhite;
    font-size: $baseLink;
    height: 1rem;
  }

  &-nav {
    margin: 1rem 0 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 2.25rem);
    grid-row-gap: 5px;

    &__title {
      margin: 0 0 0 3px;
      grid-row: 1;
      @include headerAnimation;
    }

    &__about {
      grid-row: 2;
      @include headerAnimation;
      animation-delay: .5s
    }

    &__work {
      grid-row: 3;
      @include headerAnimation;
      animation-delay: 1s;
    }

    &__contact {
      grid-row: 4;
      @include headerAnimation;
      animation-delay: 1.5s;
    }
  }
}

.title {
  &:hover {

    &:after {
      width: 20vw;
      content: "oey robinson";
      transition: all .5s ease-in-out;
      animation: slide .35s linear;
      position: absolute;
      display: inline-block;
      background: transparent;
      z-index: 5000;
    }
  }
}

.about {

  &:hover {
    &:after {
      content: "bout";
      @include headerShow;
    }
  }
}

.work {

  &:hover {
    &:after {
      content: "ork";
      @include headerShow;
    }
  }
}

.contact {

  &:hover {
    &:after {
      content: "ontact";
      @include headerShow;
    }
  }
}