.header {
  // max-height: 100vh;
  height: 100vh;
  grid-column: 1;
  grid-row: 1;
  font-size: $mediumBase;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: url(../images/mtfuji.jpg) no-repeat center center / cover;
}

.nav {
  align-self: center;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  &-home {
    text-transform: lowercase;
  }
  div {
    justify-self: right;
    padding: 0 2rem;
  }
}

[aria-current="page"]:after {
  content: " »";
}