.header {
  // max-height: 100vh;
  height: 100vh;
  grid-column: 1;
  grid-row: 1;
  font-size: $mediumBase;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: url(../images/mtfuji.jpg) no-repeat center center / cover;
  @include respond(tabLand) {
    grid-column: 1;
    grid-row: 1;
    height: 30vh;
  }
  @include respond(phone) {
    grid-column: 1;
    grid-row: 1;
    height: 40vh;
  }
}

.nav {
  align-self: center;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  @include respond(tabLand) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-self: end;
    padding: 1rem 0;
    justify-items: left;
  }
  @include respond(phone) {
    justify-self: center;
  }
  &-home {
    text-transform: lowercase;
  }
  div {
    justify-self: right;
    padding: 0 2rem;
    @include respond(phone) {
      width: 100%;
      padding: 2px 5px;
    }
  }
}

[aria-current="page"]:after {
  content: " »";
}