.home__hero-arrow {
  height: 2.5vw;
  width: 2.5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  grid-column: 3;
  grid-row: 5;
  justify-self: center;
  align-self: end;
  margin: 0 0 3rem 0;
}


.home__about-arrow {
  height: 2.5vw;
  width: 2.5vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  grid-column: 3;
  grid-row: 5;
  justify-self: center;
  align-self: end;
  margin: 0 0 3rem 0;
}