.primary {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 100vh;
  overflow-y: scroll;
  min-height: 100vh;
  width: 100vw;
  @include respond(tabPort) {
    overflow-x: hidden;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 100vh;
  }
  @include respond(tabLand) {
    overflow-x: hidden;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 100vh;
  }
  @include respond(phone) {
    grid-template-columns: 100vw;
    grid-template-rows: 10rem 100vh;
    overflow-x: hidden;
  }
}