.primary-container {
  overflow: hidden;
  background: #222;
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 1fr 20vh;
  max-height: 120vh;
  max-width: 100vw;
  @include respond(phone) {
    grid-template-columns: 30vw 70vw;
    // grid-template-rows: 1fr;
    min-height: 400vh;
  }
}