a {
  text-decoration: none;
  color: $headerWhite;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

#one {
  width: 10rem;
  height: 10rem;
}

button {
  @include buttonHover;
  border: none;
  outline: none;
  cursor: pointer;
}